#donateButton {
  /* border: solid 3px black; */
  border-radius: 15px;
  color: white;
  background-color: red;
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  line-height: 5%;
  line-height: 50px;
  z-index: 999999;
}
#donateButton span {

    display: inline-block;
    vertical-align: middle;
    line-height: normal;

}